apiVersion: argoproj.io/v1alpha1
kind: AnalysisTemplate
metadata:
  name: success-rate
spec:
  metrics:
    - name: http-success-rate
      interval: 15s
      successCondition: result[0] >= 0.99
      failureLimit: 1
      provider:
        prometheus:
          address: http://kube-prom-kube-prometheus-stack-prometheus.observability.svc:9090
          query: |
            sum(rate(http_requests_total{app="myapp",status=~"2.."}[2m]))
            /
            sum(rate(http_requests_total{app="myapp"}[2m]))
